@import url(/css/default.css);
@import url(/css/common.css);
@import url(/css/mobile.css);
@import url(/css/sub.css);


.inner01{
  width: 100%;
  margin: 0 auto;
}
.inner02{
  width: 1400px;
  margin: 0 auto;
}
#header{
  position: fixed;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0s 0.2s;
  border-bottom: 1px solid transparent;
}
#header .header_bx{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header_bx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: rgba(0,0,0,0.9);
  opacity: 0;
  transition: all .4s ease-in-out;
  z-index: -1;
}
.header_bx #logo{}
#logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_bx .nav_area{
  height: 100%;
}
#nav{
  width: 900px;
  height: 100%;
}
#nav .gnb{
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}
#nav .gnb > li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
#nav .gnb > li > a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.25em;
}
#nav .gnb > li .depth_menu{
  position: absolute;
  top: calc(100px - 3px);
  width: 100%;
  padding: 20px 0; 
  transition: all .2s ease;
  visibility: hidden;
  opacity: 0;
}
#nav .gnb > li .depth_menu:after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 3px solid #fff;
  transition: all .4s ease;
  width: 0;
  opacity: 0;
}
#nav .gnb > li .depth_menu li{
  padding: 16px 0;
  line-height: 1.6;
}
#nav .gnb> li .depth_menu li a{
  display: block;
  font-size: 1.125em;
  transition: all .2s ease;
  letter-spacing: -1px;
  font-weight: 300;
}

#header:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#header:hover .header_bx:before {
  opacity: 1;
  height: 360px;
}
#header:hover #nav .gnb > li .depth_menu{
  visibility: visible;
  opacity: 1;
}
#nav .gnb > li:hover > a{
  font-weight: 700;
}
#nav .gnb > li:hover .depth_menu:after{
  width: 100%;
  opacity: 1;
}
#nav .gnb> li .depth_menu li:hover a{
  font-weight: 500;
}

#mob_nav,
#mob_nav_btn{
  display: none;
}
/* mobile 메뉴 */

.main_visual{
  position: relative;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.main_visual article{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main_visual .main_visual_bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s ease-in-out;

  background-image: url(/images/visual.png);
}
.main_visual:hover .main_visual_bg { transform: scale(1.05); }
.main_visual .main_visual_txt{
  color: #fff;
  font-family: 'GmarketSansMedium';
  font-size: 1.25em;
  text-align: center;
}
.main_visual .main_visual_txt strong{
  font-family: 'GmarketSansBold';
  display: block;
  font-size: 2.5em;
  margin-bottom: 20px;
  line-height: 1.3;
}

#main_container > section{
  padding: 80px 0;
}

#main_container h2{
  font-family: 'GmarketSansBold';
  font-size: 2.5em;
}
#main_container h3{
  font-family: 'GmarketSansBold';
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.5;
}
#main_container h4{
  font-family: 'GmarketSansBold';
  font-size: 1.5em;
}

#main_container .main_title{
  font-family: 'GmarketSansBold';
  color: #101828;
}
#main_container .main_title p{  
  color: #3152A5;
  margin-bottom: 24px;
}

#main_container .more_btn{
  font-size: 0.8em;
  font-family: 'GmarketSansMedium';
  text-align: left;
}
#main_container .more_btn img{
  margin-left: 4px;
  transition: all .2s ease;
}
#main_container .more_btn:hover img{
  margin-left: 12px;
}



.top_content .main_business{
  display: flex;
}
.main_business .main_title{
  margin-right: 40px;

  width: 260px;
}
.main_business .main_cont{
  flex: 1;
}
.main_business .main_cont .bsn_list{
  display: flex;
}
.main_business .main_cont .bsn_list li{
  margin-left: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 33.3333%;
  padding: 100px 40px;
}
.bsn_list li:before{ 
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #010819;
  opacity: 0.6;
}
.bsn_list li .txt_box{
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: baseline;
}
.bsn_list li h3{
  margin-bottom: 16px;
  height: 96px;
}
.bsn_list li p{
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  font-weight: 300;
}
#main_container .bsn_list li .more_btn{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 20px;
  font-size: 0.6em;
  width: 148px;
}

.bsn_list li:nth-child(1){background: url(/images/bsn01.png);}
.bsn_list li:nth-child(2){background: url(/images/bsn02.png);}
.bsn_list li:nth-child(3){background: url(/images/bsn03.png);}


#main_container .mid_content{
  background: #f2f4f7;
}
#main_container .main_gallery .main_title{
  margin-bottom: 40px;
}
#main_container .main_gallery .main_title p{
  color: #838B9C;
  font-family: 'Pretendard-Regular';
  font-size: 1.125em;
  margin-top: 8px;
}
.main_gallery .gallery_wrap {
  position: relative;
  padding: 0;
}
.main_gallery .gallery ul {}
.gallery ul li{
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}
.gallery ul li .img_box{
  height: 240px;
}
.gallery ul li .cont{
  padding: 20px;
  background: #fff;
}
.gallery ul li strong{
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 1.125em;
  color: #101828;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 96%; 
}
.gallery ul li a:hover strong{
  text-decoration: underline;
}
.gallery ul li p{
  margin-bottom: 20px;
  
  line-height: 1.5em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: calc(1em * 1.5 * 2);
  height: calc(1em * 1.5 * 2);
}
.gallery ul li .date{
  color: #8F90A6;
}
.gallery_control .swiper-button-prev:after,
.gallery_control .swiper-button-next:after{
  display: none;
}
.gallery_control .swiper-button-prev,
.gallery_control .swiper-button-next{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}
.gallery_control .swiper-button-prev{
  background-image: url(/images/prev_on.svg);
  left: 0;
  left: -80px;
}
.gallery_control .swiper-button-next{
  background-image: url(/images/next_on.svg);
  right: 0;
  right: -80px;
}

.main_title_box{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
#main_container .main_title_box .main_title p{
  margin-bottom: 12px;
}
#main_container .main_title_box .more_btn{
  width: 140px;
}

#main_container .btm_content{}
.main_news{}
.main_news .main_news_box{}
.main_news .main_news_box ul{
  border-top: 2px solid #101828;
}
.main_news .main_news_box ul li{
  padding: 24px;
  border-bottom: 1px solid #E4E7EC;
}
.main_news .main_news_box ul li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_news .main_news_box ul li a .txt_box{
  width: calc(100% - 160px);
}
.main_news .main_news_box ul li a .tit{
  display: block;
  font-size: 1.125em;
  color: #101828;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_news .main_news_box ul li a .txt{
  line-height: 1.5em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: calc(1em * 1.5 * 2);
}
.main_news .main_news_box ul li a .date{
  color: #8F90A6;
}
.main_news .main_news_box ul li a:hover .tit{
  text-decoration: underline;
}

.btm_content {
  text-align: center;
  background: url(/images/contact_bg.png) no-repeat center;
  transition: all .8s;
  background-size: 100% 100%;
  color: #fff;
}
.btm_content .txt_box .tit{
  margin-bottom: 12px;
}
.btm_content .txt_box .cont{
  margin-bottom: 32px;
  line-height: 1.7;
  font-size: 1.125em;
}
#main_container .btm_content  .more_btn{
  font-size: 1.125em;
}
.btm_content:hover{
  background-size: 105% 105%;
}


#footer{
  padding: 40px 0;
  background: #344054;
  color: #fff;
}
#footer .ft_top{
  margin-bottom: 24px;
}
.ft_logo{
  opacity: 0.4;
}
#footer .ft_mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .ft_mid .ft_nav{
  margin-left: -12px;
}
#footer .ft_mid a{
  font-weight: 700;
}
#footer .ft_mid .ft_nav li a{
  font-weight: 400;
}
#footer .ft_mid .ft_nav li a b{
  color: #4173F1;
  font-family: 'Pretendard-Bold';
}
#footer .ft_mid .familysite{
  font-size: .9em;
  width: 210px;
}
#footer .ft_mid .familysite select{
  width: 100%;
}
#footer .ft_btm{
  margin-top: 32px;
}
#footer .ft_btm address{
  font-style: normal;
  font-size: 0.9em;
}
#footer .ft_btm address p{
  padding: 4px 0;
  opacity: 0.8;
  font-weight: 300;
}
#footer .ft_btm address p b{
  opacity: 0.6;
  padding-right: 4px;
  font-weight: 500;
}
#footer .ft_btm address .ft_info{
  display: flex;
}
#footer .ft_btm address .ft_info p{
  margin-right: 12px;
}
#footer .ft_btm address em{
  font-style: normal;
  opacity: 0.6;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 16px;
  margin-top: 16px;
}


/* sub layout */
#sub_visual{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  padding: 100px 0 80px;
  background: url(/images/sub_visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#sub_visual .location_box{
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}
#sub_visual .location_box strong{
  display:block;
  font-family: 'GmarketSansBold';
  font-size: 3em;
  overflow: hidden;
}
.breadcrumb{
  text-align: center;
  display: inline-flex;
  font-size: 0.9em;
  color: #838B9C;
  color: #fff;
  margin-bottom: 20px;
}
.breadcrumb li{
  margin-right: 12px;
}
.breadcrumb li:last-child{
  margin-right: 0;
}
.breadcrumb li img{
  width: 20px;
  width: 16px;
  opacity: 0.8;
}
.breadcrumb li span{
  opacity: 0.8;
}
.breadcrumb li em{
  font-style: normal;
  opacity: 0.6;
}
.breadcrumb li b{
  opacity: 1;
  font-weight: 500;
}

#snb{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
#snb .sub_menu{
  position: relative;
  text-align: center;
  width: 100%;
}
#snb .sub_menu ul{
  display: flex;
  margin-left: calc((100% - 1400px) / 2);
  height: 80px;
  background: #fff;
  
  font-size: 1.125em;
  font-weight: 500;
  align-items: center;
}
#snb .sub_menu ul li{
  width: 20%;
  height: 100%;
}
#snb .sub_menu ul li a{
  display: block;
  position: relative;
  height: 100%;
}
#snb .sub_menu ul li a{
  display: block;
  position: relative;
}
#snb .sub_menu ul li a{
  display: block;
  position: relative;
  transition: all .4s;
  opacity: 0.8;
}
#snb .sub_menu ul li a:before,
#snb .sub_menu ul li a:after{
  content: '';
  display: block;
  transition: all .4s;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#snb .sub_menu ul li a:before{
  top: 4px;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background: url(/images/down.svg) no-repeat;
  background-position: top center;
  opacity: 0;
}
#snb .sub_menu ul li a:after{
  width: 0;
  height: 8px;
  background: #2B3487;
}
#snb .sub_menu ul li a span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#snb .sub_menu.type02 ul {
  padding-right: calc((100% - 1400px) / 2);
}
#snb .sub_menu.type02 ul li{
  flex: 1;
}


#snb .sub_menu ul li.on a{
  opacity: 1;
}
#snb .sub_menu ul li a:hover:after,
#snb .sub_menu ul li.on a:after{
  width: 100%;
}
#snb .sub_menu ul li.on{
  width: 20%;
  color: #0B3190;
  font-weight: bold;
}
#snb .sub_menu ul li.on a:before{
  opacity: 1;
}


#sub_container{
  padding: 60px 0 120px;
}
#sub_container .sub_content{
  padding: 0 32px;
}



/* 모바일메뉴 */
@media (max-width: 850px) {
  #header .header_bx {
    background: #fff;
  }
  #logo img{
    display: none;
  }
  #logo{
    background: url(/images/logo_color.svg) no-repeat;
    width: 100px;
    height: 40px;
    background-size: contain;
    display: block;
  }


  #header {
    height: 60px;
    border: 0;
  }
  #header:hover{
    border: 0;
  }
  #header:hover .header_bx:before {
    opacity: 0;
    display: none;
  }
  #header:hover #nav .gnb > li .depth_menu{
    display: none;
    opacity: 0;
  }
  #nav .gnb > li:hover > a{
    font-weight: 700;
  }
  #nav .gnb > li:hover .depth_menu:after{
    width: 100%;
    opacity: 1;
  }
  #nav .gnb> li .depth_menu li:hover a{
    font-weight: 500;
  }
  .header_bx .nav_area {
    height: auto;
  } 
  #nav{
    display: none
  }
  #header .header_left {
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mob_nav_btn{
    display: block;
  }
  #logo{
    height: 40px;
  }
  #logo img {
    width: 100%;
    height: 100%;
  }
  .header_right {
    height: auto;
  }
  #mob_nav{
    display: block;
    z-index: 10;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    transition: all .3s ease;
    padding-top: 60px;
  }
  #mob_nav.active{
    display: block;
    top: 0;
    transition: all .3s ease;
  }
  .hamberger_box.active{
    display: block;
    background: url(/images/close_btn.svg) no-repeat;
    width: 32px;
    height: 32px;
    background-size: 100%;
    z-index: 99;
    position: relative;
  }
  .hamberger_box.active img{
    display: none;
  }

  #mob_nav #mob_gnb{
    background: #fff;
  }
  #mob_nav #mob_gnb li{}
  #mob_nav #mob_gnb > li > a{
    font-size: 1.25em;
    font-family: 'Pretendard-Medium';
    padding: 20px;
    display: block;
    text-align: center;
  }
  #mob_nav #mob_gnb > li.active > a{
    color: #0B3190;
    font-weight: bold;
  }
  #mob_nav #mob_gnb li .depth_menu{
    padding: 20px;
    background: #F0F3F8;
    display: none;
  }
  #mob_nav #mob_gnb li .depth_menu li{}
  #mob_nav #mob_gnb li .depth_menu > li{
    position: relative;
    text-align: center;
  }
  #mob_nav #mob_gnb li .depth_menu li a{
    padding: 12px 12px 12px 16px;
    display: block;
  }
}











